
body{
    button{
        cursor: pointer;
    }
}


/* header-section-style */
.banner{
    background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('resources/Banner\ Image.png');
    border-radius: 16px;
    background-repeat: no-repeat;
    position: relative;
    width: 1320px;
    height: 600px;
    margin: auto;
    margin-bottom: 50px;
}
header{
    margin-top: 50px;
}

.header-content{
    text-align: center;
    padding: 200px 344px 150px 344px;
}
.header-title{
    color: #FFF;
    font-size: 60px;
    font-family: Merriweather;
    width: 632px;
}
.head-title{
    color: #FFF;
    font-size: 32px;
    font-family: Merriweather;
    font-weight: 400;
}

/* main-section-01-style-- */
section{
    margin-bottom: 50px;
    margin-top: 50px;
   
}
.sec-01{
    text-align: center;
    padding-top: 20px;
}
.sec-01-title{
    color: #F00;
font-size: 70px;
font-weight: 700;
font-family: 'Inter'
}
.sec-01-description{
    color: #F00;
font-size: 20px;
font-weight: 500;
font-family: 'Inter'
}
.sec-1-2nd-h{
    color: #070211; 
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Inter'
}
.sec1-img{
    width: 802px;
    height: 500px;
    padding:10px 200px 50px 200px ;
}

/* section-02-style */

.section-02{
    background-image:linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('resources/Vectorrr.png');
    background-repeat: no-repeat;
    border-radius: 16px;
    width: 1320px;
    height: 600px;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-between; 
}
.section-02-img{
    padding: 100px 150px 0 0 ;
}

.sec-02-title{
    color: #FFF;
    width: 642px;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    padding: 100px 0px 0px 126px;
    margin-bottom: 30px;
}

.sec-02-description{
    color: #FFF;
    width: 597px;
    font-size: 18px;
    font-weight: 400;
    padding-left: 126px;
    margin-top: 0;
    font-family: 'Inter'
}

.sec02-btn{
    margin-left: 136px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    border: none;
    background-color:rgba(0,0,0,0.279);
    
    
}

.sec02-btn:hover{
    /* box-shadow: 10px 10px 10px rgb(0, 47, 255); */
}
/* section-03-style */

.sec-03-title{
    color: red;
}
.section-03{
    text-align: center;
    font-size: 32px;
    font-family: 'Inter'
    font-weight: 400;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 16px;
    width: 1320px;
    height: 400px;
    margin: auto;
    padding-top: 80px;
    font-weight: 500;
   
}
.btn-color{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    border: none;
    background: #F00;
    padding: 16px 32px;
}

/* section-04-style */
/* .sec-04{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 1320px;
} */

.sec-04{
    width: 1320px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.sec-04-l-content{
    width: 33%;
}
.sec-4-img{
    width: 33%;
    text-align: center;
    margin-left: 60px;
     margin-right: 50px; 
}
.sec-4-r-content{
    width: 33%;
}
.sec-4-img{
    border-radius: 100% ;
    border: 15px solid #F00;
     padding: 30px;  
    width: 364px;
    height: 364px;

}

.sec-4-title-1{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Inter'
}
.sec-4-title-2{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}
.sec-4-description{
    color: rgba(7, 2, 17, 0.60);
    font-size: 24px;
    font-weight: 400;
    width: 276px;
    font-family: 'Inter'
}
#Year{
    color: #F00;
    font-size: 48px;
    font-weight: 700;
} 

/* section-05-style */
.section-05{
    width: 1320px;
    height: 1200px;
    padding-top: 80px;
    margin: auto;

}
.sec-5-content{
    text-align: center;
}
.sec-5-title-1{
    color: #070211;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Inter'

}
.sec-5-title-2{
    color: #F00;
    font-family: Merriweather;
    font-size: 60px;
    font-weight: 900;
}
.sec-5-span{
    color: black;
}
.sec-5-description{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 500;
    font-family: 'Inter'
}


.sec-5-img-section{
    background-image: url('resources/Rectangle\ 1.png'), url('resources/Rectangle\ 2.png');
    background-position: top right, bottom ;
    background-repeat: no-repeat;
    width: 1320px;
    height: 662px; 
    display: flex;
    position: relative;
    margin-top: 100px;
}
.sec-5-img-1{
    /* margin-top: 230px; */
}
.sec-5-img-2{
     width: 206px;
    height: 206px; 
    margin-top: 180px;
    
}


/* section-06-style */

.section-06{
    margin: auto;
    width: 1320px;
}

.sec-6-title-1{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Inter'
}

.sec-6-title-2{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

.sec-6-description{
    color: rgba(7, 2, 17, 0.60);
    font-size: 24px;
    font-weight: 400;
    font-family: 'Inter'
}

.sec-6-one-by-one-img{
    margin-right: 13px;
}
.sec-6-one-by-one-img:hover{
    box-shadow: 10px 10px 45px rgb(255, 55, 88);
}

/* sectionx-07-style */
.sec-07{
    margin: auto;
    width: 1320px;
    height: 400px;
    text-align: center;
    padding-top: 50px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}
 .sec-07 input{
    width: 448px;
    height: 52px;
    background-color: #FFF;
    border-radius: 50px 0 0 50px;
    border: none;
    
 }
 .sec-07-description{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;

 }
.sec-07-btn{
    width: 150px;
    height: 52px;
    color: #FFF;
    border: none;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    padding-right: px;
}

/* footer-section-style */
footer{
    /* width: 1400px; */
    height: 600px;
    /* margin: auto; */
    background: #070211;
    margin-bottom:0;
    
   
}
.footer-sec{
    display: flex;
    color: #FFF;
    justify-content: space-between;
    width: 1200px;
    height: 150px;
    margin: auto;
    padding: 80PX 120px 0 80px;
    font-size: 24px;
    font-family: Inter;
    
}

hr{
    width: 1320px;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
    
    
} 

.footer-anchor{
    text-align: center;

}